$text-light: #BECFD0;
$text: #737575;
$text-dark: #474C4D;
$text-extra-light: #e9eaea;
$error-color: #E8523D;

$base:  #009593;
$base-lighten-5:  #e0f2f3;
$base-lighten-4:  #b0dee0;
$base-lighten-3:  #7ccacc;
$base-lighten-2:  #42b5b6;
$base-lighten-1:  #00a5a5;
$base-darken-1:  #008885;
$base-darken-2:  #007874;
$base-darken-3:  #006864;
$base-darken-4:  #004c46;
$base-accent-1:   #96FFFB;
$base-accent-2:   #63FFFA;
$base-accent-3:   #30FFF8;
$base-accent-4:   #17FFF7;
